body {
    background-color:gainsboro;
}
.personal {
    background-color:bisque;
}
.food {
    background-color:bisque;
}
.engines {
    background-color: bisque;
}
.Summary {
    background-color: bisque;
}